// flex properties

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.justify-flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1{
  display: flex;
  flex:1;
}



// pointer

.pointer{
  cursor: pointer;
}







