// variables

$col-white:#FFFFFF;
$col-grey-1: #E2E8F0;
$col-grey-2: #718096;
$col-blue-1: #4A5568;
$col-blue-2: #F7FAFC;
$col-blue-3: #3182CE;
$col-blue-4: #2D3748;


// classes for variables

.col-white{
  color:$col-white;
}

.col-grey-1 {
  color: $col-grey-1;
}

.col-grey-2 {
  color: $col-grey-2;
}

.col-blue-1 {
  color: $col-blue-1;
}

.col-blue-2 {
  color: $col-blue-2;
}

.col-blue-3 {
  color: $col-blue-3;
}

.col-blue-4 {
  color: $col-blue-4;
}

