
.icon-question-line-1:before { content: '\e800'; } /* '' */
.icon-checkbox-circle-fill-3:before { content: '\e801'; } /* '' */
.icon-shopping-bag-line-1:before { content: '\e802'; } /* '' */
.icon-arrow-down-s-fill-1:before { content: '\e803'; } /* '' */
.icon-add-line-1:before { content: '\e804'; } /* '' */
.icon-subtract-fill-1:before { content: '\e805'; } /* '' */
