// variables




$col-blue-1:#002265;
$col-blue-2:#14279B;
$col-blue-3:#4581F6;
$col-blue-4:#07253C;
$col-blue-5:#608AF5;
$col-blue-6:#082032;
$col-black-1:#000;
$col-black-2:#212121;
$col-purple: #3F3D56;
$col-white:#fff;


