// variables


$col-white: #ffffff;
$col-black: #000000;
$col-blue-1: #718096;
$col-blue-2: #2D3748;
$col-blue-3: #F7FAFC;
$col-grey-1:#FBFBFB;
$col-grey-2:#4A5568;
$col-grey-3:#E8E8E8;
$col-grey-4:#454444;
$col-purple:#6B46C1;