@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@media (max-width: 1200px) {
  .menu h1 {
    font-size: 40px; } }
@media (max-width: 1200px) {
  .menu .nav-item {
    margin-right: 0 !important; } }
@media (max-width: 1200px) {
  .menu .nav-link {
    margin-bottom: 20px; } }
@media (max-width: 1200px) {
  .menu .nav-link.active:before {
    width: 68px !important; } }

@media (max-width: 1200px) {
  .social .item {
    display: flex;
    flex-direction: column; }
    .social .item i {
      margin-right: 0 !important;
      margin-bottom: 40px; }
      .social .item i:last-child {
        margin-bottom: 0; } }

@media (max-width: 1200px) {
  .about .about-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .about .about-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 140px; } }

@media (max-width: 1200px) {
  .specialize {
    padding: 0 20px; } }
@media (max-width: 1200px) {
  .specialize .row {
    display: flex;
    flex-direction: column; }
    .specialize .row .col-md-3 {
      margin-bottom: 60px; } }

@media (max-width: 1200px) {
  .services .col-md-6 {
    text-align: center; }
    .services .col-md-6:first-child {
      margin-bottom: 40px; }
    .services .col-md-6:last-child {
      padding-left: 10px !important; } }

@media (max-width: 1200px) {
  .products .col-md-6 {
    text-align: center; }
    .products .col-md-6:last-child {
      margin-top: 40px; } }

@media (max-width: 1200px) {
  .cases .row {
    text-align: center; }
    .cases .row .col-md-6:last-child {
      justify-content: center !important; } }
@media (max-width: 1200px) {
  .cases .content .col-md-6:first-child {
    margin-bottom: 40px; } }
@media (max-width: 1200px) {
  .cases .content-item .info {
    display: flex;
    flex-direction: column; }
    .cases .content-item .info-item {
      margin-left: 0  !important;
      margin-bottom: 10px;
      margin-top: 10px; } }

@media (max-width: 1200px) {
  .questions .row .col-md-6 .item {
    text-align: center;
    padding-top: 20px; } }

@media (max-width: 1200px) {
  .form .row .item {
    padding: 20px 60px !important; }
    .form .row .item h1,
    .form .row .item span {
      text-align: center; } }
@media (max-width: 1200px) {
  .form .row .item-list-content {
    display: flex;
    flex-direction: column; }
    .form .row .item-list-content input {
      margin-right: 0 !important; }
      .form .row .item-list-content input:last-child {
        padding-top: 20px; } }

@media (max-width: 1200px) {
  .footer .row .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: center !important; }
    .footer .row .col-md-4:last-child {
      margin-top: 20px; }
    .footer .row .col-md-4:first-child {
      margin-bottom: 20px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #0D162F; }

.hero {
  color: #fff;
  margin-bottom: 120px; }
  .hero .row {
    display: flex;
    align-items: center;
    justify-content: center; }
    .hero .row h1 {
      margin: 0;
      margin-bottom: 20px; }
    .hero .row span {
      margin-bottom: 40px; }
    .hero .row button {
      text-transform: uppercase;
      background: #c1502e;
      border: 1px solid #c1502e;
      margin-top: 40px;
      width: fit-content; }

.social {
  margin-bottom: 120px; }
  .social .row .item {
    display: flex;
    align-items: center;
    justify-content: center; }
    .social .row .item i {
      margin-right: 60px;
      color: #fff;
      cursor: pointer;
      font-size: 40px; }
      .social .row .item i:last-child {
        margin-right: 0; }

.about {
  margin-bottom: 120px; }
  .about .row {
    color: #fff; }
    .about .row h1 {
      margin: 0;
      margin-bottom: 20px; }
    .about .row span {
      margin-bottom: 60px;
      font-size: 14px; }
  .about .about-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px; }
    .about .about-list-item {
      display: flex;
      align-items: center; }
      .about .about-list-item i {
        margin-right: 20px;
        cursor: pointer;
        color: #c1502e;
        font-size: 24px; }
      .about .about-list-item span {
        margin-bottom: 0; }

.specialize {
  margin-bottom: 120px; }
  .specialize .title {
    margin-bottom: 60px; }
  .specialize .row {
    display: flex;
    justify-content: space-between; }
    .specialize .row .col-md-3 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      padding: 40px 20px;
      background: #121b36;
      border: 1px solid #141F3D;
      height: 100%; }
      .specialize .row .col-md-3 .item {
        position: absolute;
        top: -12%;
        background: #0690AF;
        border-radius: 50%;
        padding: 20px; }
        .specialize .row .col-md-3 .item.team {
          top: -20%;
          background: none; }
        .specialize .row .col-md-3 .item img {
          width: 80px;
          height: 80px;
          border-radius: 50%; }
        .specialize .row .col-md-3 .item i {
          color: #fff;
          font-size: 40px;
          cursor: pointer; }
      .specialize .row .col-md-3 strong {
        margin: 0;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 18px; }
      .specialize .row .col-md-3 span {
        font-size: 14px;
        margin-bottom: 20px; }
  .specialize .social {
    margin-bottom: 0; }
    .specialize .social i {
      margin-right: 20px; }
      .specialize .social i:last-child {
        margin-right: 0; }

.services {
  margin-bottom: 120px; }
  .services .row .col-md-6 img {
    width: 100%;
    height: 100%; }
  .services .row .col-md-6:last-child {
    padding-left: 40px; }
  .services .row .col-md-6 h1 {
    margin: 0;
    margin-bottom: 20px; }
  .services .row .col-md-6 button {
    background: #c1502e;
    border: 1px solid #c1502e; }

.products {
  margin-bottom: 120px; }
  .products .row:first-child {
    margin-bottom: 60px; }
  .products .row .col-md-6 img {
    width: 100%;
    height: 370px;
    margin-bottom: 32px; }
  .products .row .col-md-6 p {
    margin: 0;
    margin-top: 20px; }
    .products .row .col-md-6 p a {
      color: #c1502e;
      text-decoration: none; }

.cases .row {
  display: flex;
  align-items: center; }
  .cases .row .col-md-6:last-child {
    display: flex;
    justify-content: flex-end; }
  .cases .row .col-md-6 span {
    margin-right: 6px; }
.cases .content {
  margin-top: 40px;
  margin-bottom: 120px; }
  .cases .content .col-md-6 .content-item {
    border: 2px solid #fff;
    background: #121b36;
    display: flex;
    flex-direction: column;
    padding: 20px; }
    .cases .content .col-md-6 .content-item strong {
      margin: 0;
      margin-bottom: 20px; }
    .cases .content .col-md-6 .content-item span {
      margin-bottom: 30px; }
    .cases .content .col-md-6 .content-item .info {
      display: flex;
      align-items: center; }
      .cases .content .col-md-6 .content-item .info img {
        width: 60px;
        height: 60px;
        border-radius: 50%; }
      .cases .content .col-md-6 .content-item .info-item {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        flex: 1; }
        .cases .content .col-md-6 .content-item .info-item span {
          margin-bottom: 6px;
          font-weight: 600;
          font-size: 20px; }
        .cases .content .col-md-6 .content-item .info-item p {
          margin: 0;
          font-size: 14px;
          font-weight: 400; }
      .cases .content .col-md-6 .content-item .info a {
        color: #c1502e;
        text-decoration-color: #c1502e; }

.work {
  margin-bottom: 120px; }
  .work .row .col-md-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .work .row .col-md-12 span {
      margin-top: 20px;
      text-align: center; }
    .work .row .col-md-12 button {
      background: #c1502e;
      border: 1px solid #c1502e; }
    .work .row .col-md-12 .services-list-item span {
      margin-top: 0;
      text-align: left; }

.questions {
  margin-bottom: 120px; }
  .questions .row .col-md-12 {
    margin-bottom: 60px; }
  .questions .row .col-md-6 .item {
    border-bottom: 1px solid #dac292;
    padding-bottom: 26px; }
    .questions .row .col-md-6 .item i {
      color: #dac292;
      cursor: pointer;
      font-size: 20px; }

.form {
  margin-bottom: 120px; }
  .form .row .col-md-12 .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #121b36;
    border: 2px solid #141F3D;
    padding: 50px 120px; }
    .form .row .col-md-12 .item h1 {
      color: #9B9FAD; }
    .form .row .col-md-12 .item span {
      margin-bottom: 40px; }
    .form .row .col-md-12 .item-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 60px; }
      .form .row .col-md-12 .item-list-content {
        display: flex;
        align-items: center;
        margin-bottom: 30px; }
        .form .row .col-md-12 .item-list-content:last-child {
          margin-bottom: 0; }
        .form .row .col-md-12 .item-list-content input {
          border: none;
          border-bottom: 1px solid #9B9FAD;
          outline: none;
          margin-right: 20px;
          width: 100%;
          background: #121b36;
          color: #fff;
          padding-bottom: 10px; }
        .form .row .col-md-12 .item-list-content input::placeholder {
          color: #fff; }
    .form .row .col-md-12 .item button {
      background: #c1502e;
      border: 1px solid #c1502e;
      padding: 10px 60px; }

.footer .menu {
  margin-bottom: 60px; }
.footer .row .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer .row .col-md-4:first-child {
    justify-content: flex-start; }
  .footer .row .col-md-4:last-child {
    display: flex;
    justify-content: flex-end; }
  .footer .row .col-md-4 a {
    margin-right: 20px;
    color: #fff;
    text-decoration-color: #fff; }
    .footer .row .col-md-4 a:last-child {
      margin-right: 0; }
  .footer .row .col-md-4 i {
    font-size: 40px;
    color: #c1502e;
    cursor: pointer;
    margin-right: 40px; }
    .footer .row .col-md-4 i:last-child {
      margin-right: 0; }

.col-white {
  color: #fff; }

.pt-20 {
  padding-top: 20px; }

.services-list {
  margin-top: 40px;
  margin-bottom: 40px; }
  .services-list-item {
    display: flex;
    margin-bottom: 20px; }
    .services-list-item:last-child {
      margin-bottom: 0; }
    .services-list-item i {
      margin-right: 20px;
      cursor: pointer;
      color: #c1502e; }

.cta {
  padding: 12px 24px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff; }

.menu {
  padding-top: 20px;
  margin-bottom: 120px; }
  .menu .navbar-brand h1 {
    color: #c1502e;
    margin: 0; }
  .menu .navbar-brand span {
    font-size: 34px; }
  .menu .navbar-nav li {
    margin-right: 60px; }
    .menu .navbar-nav li a {
      color: #fff !important;
      position: relative;
      padding: 0 !important; }
      .menu .navbar-nav li a.active:before {
        position: absolute;
        content: "";
        bottom: -6px;
        width: 100%;
        height: 2px;
        background: #c1502e; }
  .menu .dropdown-menu li {
    margin-right: 0;
    margin-bottom: 10px; }
    .menu .dropdown-menu li a {
      color: #000 !important; }
  .menu .navbar-toggler {
    background: #fff;
    border: 1px solid #fff; }
  .menu .container-fluid {
    padding: 0; }

.tt-u {
  text-transform: uppercase; }

.ta-c {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
