$col-white:#fff;
$col-black:#000;
$col-green-1:#6A983C;
$col-green-2:#F4F8EC;
$col-green-3:#92C064;
$col-green-4:#46760A;
$col-grey-1:#F9F9F9;
$col-grey-2:#151515;
$col-grey-3:#D1D1D1;
$col-grey-4:#A9A9A9;
$col-grey-5:#F9F9F9;
$col-grey-6: #F5F5F5;
$col-grey-7:#575757;
$col-grey-8:#F1F1F1;
$col-grey-9:#D9D9D9;
$col-orange: #E6704B;


// backgrounds


.col-green-1{
 color:$col-green-1;
}