// variables


$col-white: #ffffff;
$col-black: #000000;
$col-grey-1: #888888;
$col-grey-2: #FAFAFA;
$col-grey-3: #282828;
$col-orange: #F14A16;
$col-yellow: #FC9918;
$col-yellow-2: #F9FE1F;
$col-purple: #370665;
$col-blue-1: #35589A;

// imports
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

// mixins


@mixin for-small-phone-only {
  @media (max-width: 470px) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-max-phone {
  @media (max-width: 679px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (max-width: 862px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (max-width: 1060px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (max-width: 1600px) {
    @content;
  }
}


// content


body {
  margin: 0;
  padding: 0;
  background: $col-grey-2;
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  @include for-desktop-up {
    display: flex;
    flex-direction: column;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    @include for-desktop-up {
      margin-bottom: 40px;
    }
    @include for-small-phone-only {
      flex-direction: column;
    }

    li {
      margin-right: 50px;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.04em;
      position: relative;
      cursor: pointer;
      @include for-small-phone-only {
        margin-right: 0;
        margin-bottom: 24px;
      }

      &.active {
        &:after {
          content: "";
          position: absolute;
          height: 2px;
          width: 62px;
          bottom: -3px;
          left: 0px;
          background: $col-yellow;
          border-radius: 16px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  i {
    cursor: pointer;
    font-size: 22px;
    margin-right: 60px;
  }

  .login {
    display: flex;
    align-items: center;
    @include for-desktop-up {
      margin-top: 40px;
    }
  }

  label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    border-radius: 32px;

    input {
      display: none;
    }

    .slider {
      background: $col-white;
      border: 1px solid $col-white;
      border-radius: 32px;
      cursor: pointer;
      transition: all 0.4s;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      i {
        position: absolute;
        right: -54px;
        top: 7px;
        color: $col-orange;
        font-size: 20px;

        &.moon {
          display: none;
        }
      }

      &:before {
        content: "";
        width: 23px;
        height: 23px;
        background: $col-grey-1;
        border-radius: 32px;
        transition: all 0.4s;
        position: absolute;
        top: 5px;
        left: 4px;
      }
    }

    input:checked + .slider:before {
      transform: translateX(27px);
      background: $col-white;

    }

    input:checked + .slider {
      background: $col-black;
      border: 1px solid $col-black;

      .moon {
        display: block;
        left: 6px;
        color: $col-white
      }

      .sun {
        display: none;
      }

    }
  }

}

.hero {
  padding: 0px 90px;
  @include for-big-desktop-up {
    padding: 0;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-big-desktop-up {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
    }

    .item {
      display: flex;
      flex-direction: column;
      @include for-big-desktop-up {

        &:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }

      span {
        font-weight: 700;
        font-size: 55px;
        margin-bottom: 40px;

        .music {
          color: $col-orange;
        }
      }

      .lorem {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: $col-grey-3;
        margin-bottom: 60px;
        @include for-desktop-up {
          text-align: center;
        }
      }

      img {
        @include for-tablet-landscape-up {
          display: none;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        @include for-small-phone-only {
          padding: 0 14px;
          flex-direction: column;
        }

        button {
          @include for-small-phone-only {
            &:first-child {
              margin-right: 0;
              margin-bottom: 24px;
            }
          }

          i {
            font-size: 18px;
            margin-right: 8px;
          }
        }
      }
    }
  }

  &-prices {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -170px;
    @include for-tablet-landscape-up {
      top: 0px;
      margin-top: 60px;
    }
    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: column-reverse;
    }

    .more {
      display: flex;
      @include for-desktop-up {
        display: none;
      }
      @include for-tablet-portrait-up {
        display: block;
      }
      @include for-big-desktop-up {
        display: none;
      }

      i {
        border: 1px solid $col-black;
        border-radius: 50%;
        padding: 18px 24px;
        font-size: 20px;
        filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.6));
      }
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      left: 62px;

      @include for-tablet-portrait-up {
        display: flex;
        flex-direction: column;

      }
    }

    .item {
      display: flex;
      flex-direction: column;
      background: linear-gradient(116.15deg, rgba(192, 192, 192, 0.63) -10.88%, rgba(255, 255, 255, 0.49) -10.87%, rgba(255, 255, 255, 0.07) 74.79%);
      border: 1px solid rgba(255, 255, 255, 0.7);
      box-sizing: border-box;
      backdrop-filter: blur(30px);
      border-radius: 25px;
      padding: 0px 60px 0px 20px;
      margin-right: 120px;
      @include for-tablet-portrait-up {
        margin-right: 0;
        margin-bottom: 60px;
        padding: 0;
      }
      @include for-phone-only {
        left: -60px;
        position: relative;
      }
      @include for-tablet-landscape-up {
        position: relative;
        left: -60px;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        position: relative;
        top: -116px;
        left: 25px;
        @include for-tablet-landscape-up {
          top: 0;
          left: 0;
        }
      }

      .details {
        position: absolute;
        top: 110px;
        @include for-tablet-landscape-up {
          top: 0;
          position: static;
          text-align: center;
        }

        &-item {
          font-size: 24px;
          line-height: 40px;

          span {
            color: $col-yellow;

            &:last-child {
              text-decoration: line-through;
              font-size: 18px;
              line-height: 40px;
              margin-left: 18px;
              color: $col-black;
            }
          }
        }
      }
    }
  }
}


.support {
  padding: 0 90px;
  margin-bottom: 120px;
  @include for-phone-only {
    padding: 0px 20px;
  }

  &-content {
    background: linear-gradient(91.42deg, #370665 0%, #35589A 100%);
    border-radius: 25px;
    color: $col-white;

    &-title {
      font-weight: 700;
      font-size: 45px;
      line-height: 55px;
      text-align: center;
      padding: 30px 30px 45px 30px;

    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 60px 30px 60px;
      @include for-desktop-up {
        display: flex;
        flex-direction: column;
        align-items: baseline;
      }

      .item {
        display: flex;
        align-items: center;
        @include for-small-phone-only {
          flex-direction: column;
          text-align: center;
        }
        @include for-desktop-up {
          margin-bottom: 24px;
        }

        i {
          font-size: 30px;
          margin-right: 24px;
          @include for-small-phone-only {
            margin-bottom: 24px;
            margin-right: 0;
          }
        }

        span {
          font-size: 36px;
          line-height: 44px;
        }
      }
    }
  }
}


.offer {
  padding: 0 90px;
  margin-bottom: 140px;
  @include for-tablet-portrait-up {
    padding: 0;
  }

  &-content {
    display: flex;
    align-items: center;
    @include for-big-desktop-up {
      display: flex;
      flex-direction: column;
    }

    &-item {
      width: 50%;
      position: relative;
      @include for-big-desktop-up {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      img {
        @include for-tablet-landscape-up {
          width: 500px;
          height: 500px;
        }
        @include for-phone-only {
          width: 380px;
          height: 380px;
        }
        @include for-small-phone-only {
          width: 280px;
          height: 280px;
        }
      }

      .off {
        font-weight: 700;
        font-size: 48px;
        background: $col-purple;
        padding: 26px 34px;
        border-radius: 50%;
        color: $col-white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        left: 42px;

        @include for-phone-only {
          left: 0px;
        }
        @include for-small-phone-only {
          padding: 10px 18px;
        }
      }

      h1 {
        font-size: 65px;
        line-height: 79px;
        margin-bottom: 110px;
        @include for-big-desktop-up {
          text-align: center;
        }
      }

      span {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 28px;
        @include for-big-desktop-up {
          text-align: center;
        }
      }

      .time {
        &-item {
          &:first-child {
            margin-bottom: 20px;
          }

          @include for-desktop-up {
            display: flex;
            align-items: center;
          }

          .duration {
            font-weight: 700;
            font-size: 60px;
            line-height: 73px;
            padding: 12px;
            background: $col-purple;
            border-radius: 32px;
            color: $col-white;
            margin-right: 20px;
            @include for-phone-only {
              margin-right: 20px;
            }

            &:last-child {
              margin-right: 0;
            }
          }

          span {
            margin-right: 24px;
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 90px;
            @include for-phone-only {
              margin-right: 20px;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .actions {
        display: flex;
        align-items: center;
        margin-top: 60px;
        @include for-small-phone-only {
          padding: 0 14px;
        }

        button {
          &:first-child {
            margin-right: 26px;
          }

          &.cart {
            font-weight: 400;
            padding: 14px 28px;
            filter: drop-shadow(0px 0px 18px #F14A16);
          }

          &.shop {
            filter: drop-shadow(0px 0px 16px #F14A16);
            @include for-small-phone-only {
              margin-right: 0;
            }
          }
        }
      }

    }
  }
}


.accessories {
  padding: 0 90px;
  margin-bottom: 120px;
  @include for-desktop-up {
    padding: 0;
  }

  &-title {
    text-align: center;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    margin-bottom: 120px;
  }

  &-content {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      @include for-big-desktop-up {
        flex-direction: column;
      }
      @include for-tablet-portrait-up {
        padding: 0 20px;
      }

      img {
        @include for-big-desktop-up {
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        @include for-tablet-portrait-up {
          width: 100%;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.app{
  padding: 0 90px;
  margin-bottom: 120px;
  @include for-big-desktop-up{
    padding: 0 60px;
  }
  @include for-phone-only{
    padding: 0 20px;
  }
  &-content{
    background: linear-gradient(91.42deg, #370665 0%, #35589A 100%);
    border-radius: 25px;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-big-desktop-up{
      flex-direction: column;
    }

    &-item{
      padding-left: 70px;
      &:first-child{
        img{
          @include for-big-desktop-up{
            width: 100%;
          }
        }
      }
      @include for-big-desktop-up{
        padding-left: 0;
        text-align: center;
      }
      @include for-tablet-portrait-up{
        width: 100%;
      }
      &:last-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 150px;
        padding-left: 0;
        color:$col-white;
        @include for-big-desktop-up{
          padding-right: 0;
        }
      }
      h1{
        font-size: 56px;
        line-height: 68px;
        margin-bottom: 16px;
      }
      span{
        font-size: 32px;
        line-height: 39px;
      }
      div{
        display: flex;
        align-items: center;
        @include for-phone-only{
          flex-direction: column;
          margin-top: 40px;
        }
        img{
          &:first-child{
            margin-right: 22px;
            @include for-phone-only{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}



// trend section

.trend {
  padding: 0px 90px;
  margin-bottom: 120px;
  @include for-big-desktop-up {
    margin-top: 90px;
    padding: 0px 20px;
  }

  &-title {
    text-align: center;
    margin-bottom: 120px;
    font-weight: 700;
    font-size: 64px;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-big-desktop-up {
      flex-direction: column;
    }

    &-item {
      display: flex;
      flex-direction: column;

      &.arrivals {
        border: 4px solid $col-blue-1;
        border-radius: 56px;
      }

      img {

        &.arrivals {
          border-radius: 44px 0px 0px 0px;
          width: 519px;
          height: 415px;
          @include for-small-phone-only {
            border-radius: 50px 50px 0px 0px;
          }
          @include for-phone-only {
            width: 100%;
          }
        }

        &.mini {
          border-radius: 44px 54px 0px 0px;
          @include for-small-phone-only {
            border-radius: 54px 54px 0px 0px;
          }
        }
      }

      @include for-big-desktop-up {
        margin-bottom: 60px;
      }
      @include for-phone-only {
        width: 100%;

      }
    }


    .info {
      background: $col-grey-3;
      border-radius: 0px 0px 50px 50px;

      &.purple {
        background: $col-purple;
      }

      &-content {
        padding: 20px;
        @include for-phone-only {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        }

        span {
          font-size: 26px;
          line-height: 36px;
          color: $col-white;

          &.yellow {
            color: $col-yellow;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          @include for-big-desktop-up {
            text-align: left;
          }

          li {
            color: $col-white;
            font-size: 18px;
            line-height: 36px;
          }
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          margin-bottom: 20px;
          @include for-phone-only {
            display: flex;
            flex-direction: column;
          }

          button {
            &:first-child {
              margin-right: 20px;
              @include for-phone-only {
                margin-right: 0;
                margin-bottom: 24px;
              }
            }

            &.cart {
              border-radius: 32px;
              padding: 14px 16px;

              &.arrivals {
                filter: drop-shadow(0px 0px 18px #F14A16);
                border-radius: 20px;
              }

              i {
                margin-right: 10px;
              }
            }

            &.shop {
              margin-right: 0;
              border-radius: 32px;
              filter: drop-shadow(2px 4px 18px rgba(241, 74, 22, 0.25));
              padding: 14px 48px;

              &.arrivals {
                filter: drop-shadow(0px 0px 21px #F14A16);
                border-radius: 18px;
              }
            }
          }
        }
      }
    }
  }
}


// button


.cta {
  background: transparent;
  color: $col-orange;
  padding: 14px 38px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  border-radius: 16px;
  border: 1px solid $col-orange;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.shop {
    color: $col-white;
    background: $col-orange;
    margin-right: 28px;
  }

  &.cart {
    padding: 14px 18px;
    border: 3px solid $col-orange;
  }
}


