// font import

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

// import css

@import "partials/general";

@import "partials/classes";

@import "partials/variables";

@import "../fonts/css/fontello.css";


// mixins

@mixin for-desktop-up {
  @media (max-width: 1110px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 660px) {
    @content;
  }
}


@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-mini-phone {
  @media (max-width: 465px) {
    @content;
  }
}

@mixin for-small-phone {
  @media (max-width: 435px) {
    @content;
  }
}

// general

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


// main css


.header {
  border-bottom: 1px solid $col-grey-1;
  @include for-desktop-up {
    display: flex;
    flex-direction: column;
  }

  .menu {
    @include for-desktop-up {
      margin-bottom: 24px;
      margin-top: 24px;
    }


    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      @include for-small-phone{
        display: flex;
        flex-direction: column;
      }
      li {
        @include for-small-phone{
          margin-right: 0;
          margin-bottom:12px;
        }
        &:last-child {
          @include for-desktop-up {
            margin-right: 0;
          }
        }
      }
    }
  }

  .account {
    &-item {
      span {
        font-size: 16px;
        line-height: 19px;
      }

      i {
        font-size: 20px;
      }
    }
  }
}

.order {

  &-list {
    @include for-desktop-up {
      flex-direction: column;
      display: flex;
    }

    &-item {
      width: 75%;
      background: $col-blue-2;
      border-radius: 8px;
      @include for-desktop-up {
        width: auto;
        margin-right: 0;
        margin-bottom: 40px;
      }
      //&:first-child{
      //  border-bottom: 1px solid $col-grey-1;
      //}
      &:last-child {
        width: 25%;
        @include for-desktop-up {
          width: auto;
          margin-left: 0;
        }
      }

      > div {
        .line {
          &:after {
            width: 24px;
            height: 1px;
            content: "";
            position: absolute;
            background: $col-blue-3;
          }
        }

      }

      .form {
        @include for-phone-only {
          padding-right: 0;
          span {
            padding: 0;
            text-align: center;
          }
        }

        form {
          i {
            position: relative;
            right: -410px;
            top: 40px;
            font-size: 18px;
          }

          label {
          }

          input {
            border-radius: 6px;
            background: $col-grey-1;
            border: 1px solid $col-grey-1;
            @include for-phone-only {
              width: 100%;
            }
            @include for-mini-phone {
              padding-right: 0;
            }

          }

          input::placeholder {
            color: $col-blue-4;
          }
        }
      }

      .pieces {
        @include for-small-phone{
          display: flex;
          flex-direction: column;
        }
        &-details {
          @include for-small-phone{
            text-align: center;
          }
          .cost {
            font-weight: bold;
          }
        }

        &-amount {
          @include for-small-phone{
            margin-bottom: 24px;
          }
          .item {
            background: $col-grey-1;
            border-radius: 6px;
          }
        }
      }

      .promo {
        background: $col-grey-1;
        border-radius: 8px;
      }

      .register {
        @include for-tablet-portrait-up {
          display: flex;
          flex-direction: column;
          margin-left: 0;
          span {
            margin-bottom: 16px;
            text-align: center;
            margin-right: 0;
          }
        }
      }

      .email {
        @include for-tablet-portrait-up {
          display: none;
        }
      }

      .activity {
        @include for-phone-only {
          display: flex;
          flex-direction: column;
          span {
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 12px;
          }
          i {
            margin-bottom: 12px;
          }
          .line {
            @include for-phone-only {
              display: none;
            }
          }
        }
      }
    }
  }
}


// font

.font-500-16-19 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.font-500-20-24 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.font-500-18-22 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.bold {
  font-weight: bold;
}


// button

.cta {
  background: $col-blue-3;
  border-radius: 10px;
  border: 1px solid $col-blue-3;

  &.apply {
    background: $col-white;
    border: 2px solid $col-blue-3;
  }
}
