@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif; }

.menu {
  padding: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .menu .logo {
    margin-right: 24px;
    cursor: pointer; }
  .menu .nav-item {
    font-weight: 600;
    font-size: 20px;
    margin-right: 32px; }
    .menu .nav-item:last-child {
      margin-right: 0; }
  .menu .nav-link {
    color: #1B1A19 !important; }
  .menu .d-flex a {
    text-decoration: none;
    margin-right: 18px; }
    .menu .d-flex a:last-child {
      margin-right: 0px; }
    .menu .d-flex a i {
      cursor: pointer;
      font-size: 32px;
      color: #4D5566; }

.hero-body {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1400px) {
    .hero-body {
      flex-direction: column; } }
  .hero-body-item {
    display: flex;
    flex-direction: column; }
    @media (max-width: 1400px) {
      .hero-body-item:first-child {
        margin-bottom: 60px;
        align-items: center;
        justify-content: center;
        text-align: center; } }
    .hero-body-item span {
      font-weight: 600;
      font-size: 64px;
      letter-spacing: 0.02em;
      color: #000000;
      font-family: 'Eczar', serif;
      margin-bottom: 40px; }
    .hero-body-item img {
      width: 650px;
      height: 540px; }
      @media (max-width: 670px) {
        .hero-body-item img {
          width: 450px;
          height: 250px; } }
    .hero-body-item .profile {
      display: flex;
      align-items: center; }

.work {
  background: rgba(0, 0, 0, 0.93); }
  .work .title {
    margin-bottom: 60px; }
    @media (max-width: 1280px) {
      .work .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; } }
    .work .title span {
      font-weight: 600;
      font-size: 40px;
      color: #ffffff;
      font-family: 'Eczar', serif;
      letter-spacing: 0.02em;
      margin-right: 60px; }
      @media (max-width: 1280px) {
        .work .title span {
          margin-bottom: 24px;
          text-align: center;
          margin-right: 0; } }
  .work-body {
    display: flex;
    flex-direction: column; }
    @media (max-width: 1280px) {
      .work-body {
        align-items: center;
        justify-content: center; } }
    .work-body-item {
      display: flex;
      margin-bottom: 60px; }
      @media (max-width: 1280px) {
        .work-body-item {
          display: flex;
          flex-direction: column; } }
      .work-body-item .details {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding: 80px;
        padding-right: 40px;
        border-radius: 32px 0px 0px 32px;
        width: 50%;
        height: 414px; }
        @media (max-width: 1280px) {
          .work-body-item .details {
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center; } }
        @media (max-width: 650px) {
          .work-body-item .details {
            width: 400px; } }
        .work-body-item .details span:first-child {
          font-weight: 600;
          font-size: 26px;
          margin-bottom: 8px; }
        .work-body-item .details span.lorem {
          font-weight: 500;
          color: #594F43;
          line-height: 150%;
          margin-bottom: 18px; }
        .work-body-item .details p {
          font-weight: 600;
          font-size: 20px;
          margin: 0; }
      .work-body-item .image {
        width: 50%; }
        @media (max-width: 1280px) {
          .work-body-item .image {
            width: 100%; } }
        @media (max-width: 1280px) {
          .work-body-item .image img {
            border-radius: 0px 0px 28px 28px; } }
        @media (max-width: 650px) {
          .work-body-item .image img {
            width: 400px; } }

.reviews .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px; }
  .reviews .title span {
    font-weight: 600;
    font-size: 40px;
    color: #000000; }
    @media (max-width: 599px) {
      .reviews .title span {
        text-align: center; } }
    .reviews .title span:first-child {
      font-family: 'Eczar', serif; }
    .reviews .title span:last-child {
      font-weight: 500;
      font-size: 20px;
      color: #594F43; }
.reviews-body {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 670px) {
    .reviews-body {
      flex-direction: column; } }
  .reviews-body .left, .reviews-body .right {
    font-size: 45px;
    cursor: pointer; }
  .reviews-body .right {
    transform: rotate(180deg); }
  .reviews-body-item {
    display: flex;
    align-items: center;
    padding: 64px; }
    .reviews-body-item .details {
      display: flex;
      flex-direction: column;
      text-align: center; }
      .reviews-body-item .details span {
        font-weight: 700;
        font-size: 20px; }
        .reviews-body-item .details span:first-child {
          margin-bottom: 18px;
          font-weight: 400;
          font-size: 16px; }
      .reviews-body-item .details .social {
        margin-top: 18px; }
        .reviews-body-item .details .social a {
          text-decoration: none;
          color: #000000; }
          .reviews-body-item .details .social a i {
            font-size: 26px;
            margin-right: 24px; }
            .reviews-body-item .details .social a i:last-child {
              margin-right: 0; }

.cta {
  background: #000000;
  color: #ffffff;
  padding: 14px 24px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #000000; }
  .cta.all {
    background: #090909;
    font-size: 24px;
    padding: 4px 16px;
    border: 1px solid #090909;
    margin-bottom: 24px;
    width: fit-content; }
  .cta.transparent {
    background: transparent;
    color: #4D5566;
    margin-left: 24px;
    text-align: center;
    padding: 10px 56px;
    border-radius: 6px;
    border: 4px solid #000000; }
  .cta.white {
    border: 4px solid #ffffff;
    color: #ffffff; }
    @media (max-width: 650px) {
      .cta.white {
        margin-left: 0; } }
    @media (max-width: 1400px) {
      .cta.white {
        margin-left: 0; } }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

/*# sourceMappingURL=style.css.map */
