.font-24-300 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300; }

.font-24-400 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400; }

.font-24-500 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500; }

.font-24-600 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600; }

.font-24-700 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700; }

.font-24-800 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 800; }

.font-24-900 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 900; }

.font-20-300 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300; }

.font-20-400 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400; }

.font-20-500 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 500; }

.font-20-600 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600; }

.font-20-700 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700; }

.font-20-800 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 800; }

.font-20-900 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 900; }

.font-14-300 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300; }

.font-14-400 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; }

.font-14-500 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500; }

.font-14-600 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600; }

.font-14-700 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700; }

.font-14-800 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 800; }

.font-14-900 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 900; }

.font-12-300 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 300; }

.font-12-400 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400; }

.font-12-500 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500; }

.font-12-600 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600; }

.font-12-700 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700; }

.font-12-800 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 800; }

.font-12-900 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 900; }

.font-16-300 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300; }

.font-16-400 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400; }

.font-16-500 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500; }

.font-16-600 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600; }

.font-16-700 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700; }

.font-16-800 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 800; }

.font-16-900 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 900; }

.font-18-300 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 300; }

.font-18-400 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400; }

.font-18-500 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500; }

.font-18-600 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600; }

.font-18-700 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700; }

.font-18-800 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 800; }

.font-18-900 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 900; }

.font-28-300 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 300; }

.font-28-400 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 400; }

.font-28-500 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 500; }

.font-28-600 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 600; }

.font-28-700 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 700; }

.font-28-800 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 800; }

.font-28-900 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 900; }

.font-10-300 {
  font-size: 10px;
  line-height: 13px;
  font-weight: 300; }

.font-10-400 {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400; }

.font-10-500 {
  font-size: 10px;
  line-height: 13px;
  font-weight: 500; }

.font-10-600 {
  font-size: 10px;
  line-height: 13px;
  font-weight: 600; }

.font-10-700 {
  font-size: 10px;
  line-height: 13px;
  font-weight: 700; }

.font-10-800 {
  font-size: 10px;
  line-height: 13px;
  font-weight: 800; }

.font-10-900 {
  font-size: 10px;
  line-height: 13px;
  font-weight: 900; }

.bold {
  font-weight: bold; }

/*# sourceMappingURL=fonts.css.map */
