
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-pinterest:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-dribbble:before { content: '\e803'; } /* '' */
.icon-shape-(1):before { content: '\e804'; } /* '' */
.icon-shape:before { content: '\e805'; } /* '' */
.icon-chevron-right-square:before { content: '\e806'; } /* '' */
