

@import "mixins";


.nav-item{
  @include for-desktop-up{
    width: fit-content;
    margin-bottom: 20px;
  }
}
.hero{
  @include for-desktop-up{
    margin-top: 60px;
  }
  .row{
    @include for-desktop-up{
      display: flex;
      flex-direction:column;
    }
  }
  .col-md-6{
    @include for-desktop-up{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      p{
        text-align: center;
        width: 100% !important;
        &:before{
          width: 220px !important;
        }
      }
      .actions{
        display: flex;
        flex-direction: column;
        button{
          margin-bottom: 40px;

          &:first-child{
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}
.activity{
  margin-bottom:240px;
  .row{
    @include for-desktop-up{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 20px;
    }
    .col-md-3{
      @include for-desktop-up{
        margin-bottom: 40px;
        &:last-child{
          margin-bottom: 0;
        }
      }

    }

  }
}
.bids{
  @include for-desktop-up{
    padding: 0 20px;
  }
  .row{
    .col-md-12{
      @include for-desktop-up{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .col-md-6{
          &:last-child{
            justify-content: center !important;
          }

        }
      }
    }
    .item{
@include for-desktop-up{
  display: flex;
  flex-direction: column;
  .col-md-3{
    margin-bottom: 40px;
    width: fit-content !important;
    .info{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: 100%;
     &-item{
       align-items: center;
       margin-bottom: 10px;
     }
    }
    .currency{
      display: flex;
      flex-direction: column;
      &-item{
        display: flex;
        flex-direction: column;
        text-align: center;
        i{
          margin-bottom: 20px;
        }
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}
    }
  }
}
.community{
  @include for-desktop-up{
    padding: 0 20px;
  }
  .container{
    .row{
      .col-md-12{
        @include for-desktop-up{
          &:last-child{
            display: flex;
            flex-direction: column;
            .col-md-6{
              margin-bottom: 60px;
              &:last-child{
                margin-bottom: 0;
              }
              span{
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}
.news{
  @include for-desktop-up{
    padding: 0 20px;
  }
  .row{
    @include for-desktop-up{
      .col-md-3{
        margin-bottom: 40px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
.footer{
  @include for-desktop-up{
    text-align: center;
    padding: 0 20px;
    .update{
      margin-right: 0 !important;
    }
    .contact{
      margin-top: 40px;
    }
    .subscribe{
      display: none !important;
    }
    .credits{
      span{
        font-size: 16px !important;
      }
    }
  }
}