

$col-white:#fff;
$col-black:#000;
$col-blue-1:#0F172A;
$col-blue-2: #004AF9;
$col-blue-3:#3918FF;
$col-blue-4:#27A4E2;
$col-blue-5:#5865F2;
$col-blue-6:#29A9EB;
$col-purple-1:#9D09FE;
$col-purple-2: #DB00FF;