@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700&display=swap");
body {
  font-family: 'Josefin Sans', sans-serif; }

.menu {
  padding: 0 120px; }
  @media (max-width: 1200px) {
    .menu {
      padding: 0; } }
  .menu .navbar {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important; }
  .menu .navbar-brand span {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #0D1832; }
    .menu .navbar-brand span:first-child {
      margin-right: 42px; }
  .menu .nav-item {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px; }
  .menu .nav-link {
    color: #0076FF !important; }
  .menu .d-flex {
    align-items: center; }
    @media (max-width: 1200px) {
      .menu .d-flex {
        flex-direction: column;
        align-items: baseline; } }
    .menu .d-flex .item {
      margin-right: 30px; }
      @media (max-width: 1200px) {
        .menu .d-flex .item {
          margin-bottom: 14px; } }
      .menu .d-flex .item span {
        font-size: 20px;
        line-height: 20px;
        color: #0D1832;
        margin-right: 8px; }
      .menu .d-flex .item i {
        cursor: pointer; }

.hero {
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 120px; }
  @media (max-width: 1200px) {
    .hero {
      padding: 0; } }
  .hero-content {
    display: flex;
    align-items: center; }
    @media (max-width: 1200px) {
      .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; } }
    .hero-content-item {
      width: 50%;
      display: flex;
      flex-direction: column; }
      @media (max-width: 1200px) {
        .hero-content-item {
          width: 100%;
          align-items: center;
          justify-content: center; }
          .hero-content-item:first-child {
            margin-bottom: 40px; } }
      .hero-content-item h1 {
        font-size: 120px;
        line-height: 101.3%;
        color: #001833;
        margin: 0;
        margin-bottom: 58px;
        font-family: 'Lato', sans-serif; }
        @media (max-width: 599px) {
          .hero-content-item h1 {
            font-size: 80px; } }
      .hero-content-item span {
        font-size: 30px;
        line-height: 101.3%;
        color: #2C3F56;
        margin-bottom: 40px; }
      @media (max-width: 1200px) {
        .hero-content-item img {
          width: 100%; } }

.details {
  background: #001833; }
  .details-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px 120px; }
    @media (max-width: 900px) {
      .details-content {
        flex-direction: column; } }
    .details-content-item {
      flex-direction: column; }
      @media (max-width: 900px) {
        .details-content-item {
          margin-top: 24px; }
          .details-content-item:first-child {
            margin-top: 0; } }
      .details-content-item .info {
        margin-bottom: 24px; }
        .details-content-item .info span {
          font-weight: 700;
          font-size: 75px;
          line-height: 90px;
          color: #ffffff;
          font-family: 'Lato', sans-serif; }
        .details-content-item .info i {
          margin-left: 18px;
          font-size: 18px;
          color: #ffffff; }
          @media (max-width: 599px) {
            .details-content-item .info i {
              display: none; } }
      .details-content-item .category {
        font-size: 18px;
        line-height: 18px;
        color: #B5B2B5;
        display: flex;
        align-items: center;
        justify-content: center; }

.advantages {
  padding: 200px 120px 120px 120px;
  font-family: 'Josefin Sans', sans-serif; }
  @media (max-width: 1200px) {
    .advantages {
      padding: 0; } }
  .advantages-content {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      .advantages-content {
        flex-direction: column; } }
    @media (max-width: 1200px) {
      .advantages-content-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 40px; } }
    .advantages-content-item.tool {
      display: flex; }
    .advantages-content-item span {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 74px;
      line-height: 89px;
      color: #120F12; }
    .advantages-content-item p {
      font-weight: 400;
      font-size: 20px;
      line-height: 125%;
      color: #120F12;
      margin: 0;
      margin-top: 46px;
      margin-bottom: 46px; }
    .advantages-content-item .explore {
      display: flex;
      align-items: center; }
      .advantages-content-item .explore a {
        text-decoration: none; }
        .advantages-content-item .explore a span {
          font-weight: 600;
          font-size: 20px;
          line-height: 100%;
          margin-right: 20px;
          color: #0076FF; }
    .advantages-content-item-team {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 370px;
      height: 300px;
      color: #ffffff;
      background: linear-gradient(123.5deg, #0076FF 0%, #6DFACD 100%);
      margin-right: 20px; }
      @media (max-width: 1200px) {
        .advantages-content-item-team {
          margin-top: 20px;
          margin-right: 0; } }
      .advantages-content-item-team:last-child {
        margin-right: 0; }
      .advantages-content-item-team i {
        font-size: 26px;
        margin-bottom: 42px;
        cursor: pointer; }
      .advantages-content-item-team span {
        font-weight: 600;
        font-size: 26px;
        line-height: 26px;
        font-family: 'Josefin Sans', sans-serif;
        color: #ffffff; }
      .advantages-content-item-team p {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #F4F4F4; }

.feature {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: url("https://www.teahub.io/photos/full/4-40729_earth-4k.jpg");
  position: relative;
  z-index: -1; }
  @media (max-width: 1200px) {
    .feature {
      margin-top: 40px; } }
  .feature .container {
    padding: 0 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1920px;
    z-index: 2; }
    .feature .container .row {
      display: flex;
      align-items: center; }
      @media (max-width: 900px) {
        .feature .container .row {
          flex-direction: column;
          text-align: center; } }
      .feature .container .row .title {
        font-weight: 900;
        font-size: 98px;
        line-height: 113.3%;
        color: #ffffff;
        font-family: 'Lato', sans-serif; }
        @media (max-width: 599px) {
          .feature .container .row .title {
            font-size: 46px; } }
      .feature .container .row .button {
        display: flex;
        justify-content: flex-end; }
        @media (max-width: 900px) {
          .feature .container .row .button {
            justify-content: center;
            margin-top: 40px; } }
  .feature .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100.84deg, rgba(0, 118, 255, 0.6) 0%, rgba(110, 251, 205, 0.6) 100%);
    z-index: 1; }

.collaboration {
  padding-top: 160px; }
  .collaboration-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 146px; }
    @media (max-width: 1200px) {
      .collaboration-title {
        text-align: center; } }
    .collaboration-title h1 {
      margin: 0;
      font-size: 64px;
      line-height: 100%;
      font-family: 'Lato', sans-serif; }
    .collaboration-title span {
      margin-top: 44px;
      font-weight: 500;
      font-size: 22px;
      line-height: 100%; }
  .collaboration .container {
    padding: 0 120px;
    max-width: 1920px;
    margin-bottom: 60px; }
    @media (max-width: 1200px) {
      .collaboration .container {
        padding: 0 40px; } }
    .collaboration .container .row .col-md-6 img {
      filter: drop-shadow(0px 3.64788px 28.2711px rgba(0, 0, 0, 0.15)); }
    .collaboration .container .row .col-md-6 .item {
      margin-bottom: 22px;
      font-family: 'Josefin Sans', sans-serif; }
      @media (max-width: 1200px) {
        .collaboration .container .row .col-md-6 .item {
          text-align: center;
          margin-top: 40px; } }
      .collaboration .container .row .col-md-6 .item:last-child {
        margin-bottom: 0; }
      .collaboration .container .row .col-md-6 .item span {
        font-weight: 500;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: 1px; }
        .collaboration .container .row .col-md-6 .item span:last-child {
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 1px;
          margin-top: 22px; }

.footer {
  padding-top: 100px; }
  .footer .container {
    padding: 0 120px;
    max-width: 1920px; }
    @media (max-width: 1200px) {
      .footer .container {
        padding: 0 40px; } }
    @media (max-width: 1200px) {
      .footer .container .row {
        text-align: center; } }
    .footer .container .row .logo {
      font-size: 42px;
      line-height: 42px;
      color: #0076FF;
      font-family: 'Josefin Sans', sans-serif; }
    @media (max-width: 900px) {
      .footer .container .row .col-md-10 {
        flex-direction: column; } }
    .footer .container .row .col-md-10 .col-md-4 span {
      font-size: 24px;
      line-height: 36px;
      color: #120F12; }
    .footer .container .row .col-md-10 .col-md-4 .contact {
      font-family: 'Josefin Sans', sans-serif;
      margin-top: 90px;
      margin-bottom: 26px;
      padding-bottom: 2px;
      text-decoration: underline;
      text-decoration-color: #0076FF;
      font-size: 14px;
      line-height: 22px;
      color: #120F12;
      font-weight: 600; }
      .footer .container .row .col-md-10 .col-md-4 .contact:last-child {
        margin-top: 26px;
        margin-bottom: 0; }
    .footer .container .row .col-md-10 .col-md-2 {
      position: relative; }
      .footer .container .row .col-md-10 .col-md-2 ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .footer .container .row .col-md-10 .col-md-2 ul:first-child {
          margin-bottom: 60px; }
          @media (max-width: 900px) {
            .footer .container .row .col-md-10 .col-md-2 ul:first-child {
              margin-top: 40px; } }
        .footer .container .row .col-md-10 .col-md-2 ul li {
          font-size: 12px;
          line-height: 20px;
          color: rgba(18, 15, 18, 0.75);
          margin-bottom: 20px; }
          .footer .container .row .col-md-10 .col-md-2 ul li:last-child {
            margin-bottom: 0; }
      .footer .container .row .col-md-10 .col-md-2 span {
        font-size: 12px;
        line-height: 20px;
        color: rgba(18, 15, 18, 0.65); }
      .footer .container .row .col-md-10 .col-md-2 i {
        position: absolute;
        top: -28px;
        right: 25%;
        font-size: 24px;
        width: 52px;
        height: 52px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        background: #0076FF;
        border-radius: 50%;
        cursor: pointer; }
        @media (max-width: 900px) {
          .footer .container .row .col-md-10 .col-md-2 i {
            right: 45%;
            margin-top: 20px; } }

.cta {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding: 18px 38px;
  background: linear-gradient(96.5deg, #0076FF 0%, #6EFBCD 100%);
  border-radius: 74px;
  border: transparent;
  width: fit-content; }
  .cta.start {
    background: #ffffff;
    color: #000000;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    padding: 30px 48px; }

/*# sourceMappingURL=style.css.map */
