// variables

$col-blue-1: #0D1832;
$col-blue-2: #0076FF;
$col-blue-3: #001833;
$col-blue-4: #2C3F56;
$col-white: #ffffff;
$col-grey-1: #B5B2B5;
$col-grey-2: #F4F4F4;
$col-black-1: #000000;
$col-black-2: #120F12;

// mixins

@mixin max-width-1920 {
  max-width: 1920px;
}


@mixin p0-120 {
  padding: 0 120px;
}


@mixin font-lato {
  font-family: 'Lato', sans-serif;
}


@mixin font-Jose {
  font-family: 'Josefin Sans', sans-serif;
}


@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (max-width: 1800px) {
    @content;
  }
}

// imports

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700&display=swap');

// content

body {
  font-family: 'Josefin Sans', sans-serif;
}

.menu {
  padding: 0 120px;
  @include for-desktop-up {
    padding: 0;
  }

  .navbar {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
  }

  .navbar-brand {
    span {
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      color: $col-blue-1;

      &:first-child {
        margin-right: 42px;
      }
    }
  }

  .nav-item {

    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
  }

  .nav-link {
    color: $col-blue-2 !important;
  }

  .d-flex {
    align-items: center;
    @include for-desktop-up {
      flex-direction: column;
      align-items: baseline;
    }

    .item {
      margin-right: 30px;
      @include for-desktop-up {
        margin-bottom: 14px;
      }

      span {
        font-size: 20px;
        line-height: 20px;
        color: $col-blue-1;
        margin-right: 8px;
      }

      i {
        cursor: pointer;
      }
    }
  }

}

.hero {
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 120px;
  @include for-desktop-up {
    padding: 0;

  }

  &-content {
    display: flex;
    align-items: center;
    @include for-desktop-up {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-item {
      width: 50%;
      display: flex;
      flex-direction: column;
      @include for-desktop-up {
        width: 100%;
        align-items: center;
        justify-content: center;
        &:first-child {
          margin-bottom: 40px;
        }
      }

      h1 {
        font-size: 120px;
        line-height: 101.3%;
        color: $col-blue-3;
        margin: 0;
        margin-bottom: 58px;
        font-family: 'Lato', sans-serif;
        @include for-phone-only {
          font-size: 80px;
        }
      }

      span {
        font-size: 30px;
        line-height: 101.3%;
        color: $col-blue-4;
        margin-bottom: 40px;
      }

      img {
        @include for-desktop-up {
          width: 100%;
        }
      }
    }
  }
}

.details {
  background: $col-blue-3;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px 120px;
    @include for-tablet-landscape-up {
      flex-direction: column;
    }

    &-item {
      flex-direction: column;
      @include for-tablet-landscape-up {
        margin-top: 24px;
        &:first-child {
          margin-top: 0;
        }
      }

      .info {
        margin-bottom: 24px;

        span {
          font-weight: 700;
          font-size: 75px;
          line-height: 90px;
          color: $col-white;
          font-family: 'Lato', sans-serif;
        }

        i {
          margin-left: 18px;
          font-size: 18px;
          color: $col-white;
          @include for-phone-only {
            display: none;
          }
        }
      }

      .category {
        font-size: 18px;
        line-height: 18px;
        color: $col-grey-1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.advantages {
  padding: 200px 120px 120px 120px;
  font-family: 'Josefin Sans', sans-serif;
  @include for-desktop-up {
    padding: 0;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    @include for-desktop-up {
      flex-direction: column;
    }

    &-item {
      @include for-desktop-up {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
      }

      &.tool {
        display: flex;
      }


      span {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 74px;
        line-height: 89px;
        color: $col-black-2;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        color: $col-black-2;
        margin: 0;
        margin-top: 46px;
        margin-bottom: 46px;
      }

      .explore {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;

          span {
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            margin-right: 20px;
            color: $col-blue-2;
          }

          i {
          }
        }

      }

      &-team {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 370px;
        height: 300px;
        color: $col-white;
        background: linear-gradient(123.5deg, $col-blue-2 0%, #6DFACD 100%);
        margin-right: 20px;
        @include for-desktop-up {
          margin-top: 20px;
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        i {
          font-size: 26px;
          margin-bottom: 42px;
          cursor: pointer;
        }

        span {
          font-weight: 600;
          font-size: 26px;
          line-height: 26px;
          font-family: 'Josefin Sans', sans-serif;
          color: $col-white;
        }

        p {
          font-weight: 500;
          font-size: 20px;
          line-height: 20px;
          color: $col-grey-2;
        }
      }
    }
  }
}

.feature {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: url("https://www.teahub.io/photos/full/4-40729_earth-4k.jpg");
  position: relative;
  z-index: -1;
  @include for-desktop-up {
    margin-top: 40px;
  }

  .container {
    padding: 0 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1920px;
    z-index: 2;

    .row {
      display: flex;
      align-items: center;
      @include for-tablet-landscape-up {
        flex-direction: column;
        text-align: center;
      }

      .title {
        font-weight: 900;
        font-size: 98px;
        line-height: 113.3%;
        color: $col-white;
        @include for-phone-only {
          font-size: 46px;
        }
        @include font-lato

      }

      .button {
        display: flex;
        justify-content: flex-end;
        @include for-tablet-landscape-up {
          justify-content: center;
          margin-top: 40px;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100.84deg, rgba(0, 118, 255, 0.6) 0%, rgba(110, 251, 205, 0.6) 100%);
    z-index: 1;
  }

}


.collaboration {
  padding-top: 160px;

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 146px;
    @include for-desktop-up {
      text-align: center;
    }

    h1 {
      margin: 0;
      font-size: 64px;
      line-height: 100%;
      @include font-lato
    }

    span {
      margin-top: 44px;
      font-weight: 500;
      font-size: 22px;
      line-height: 100%;
    }
  }

  .container {
    @include p0-120;
    @include max-width-1920;
    @include for-desktop-up {
      padding: 0 40px;
    }
    margin-bottom: 60px;

    .row {
      .col-md-6 {
        img {
          filter: drop-shadow(0px 3.64788px 28.2711px rgba(0, 0, 0, 0.15));
        }

        .item {
          margin-bottom: 22px;
          @include for-desktop-up {
            text-align: center;
            margin-top: 40px;
          }
          @include font-Jose;

          &:last-child {
            margin-bottom: 0;
          }

          span {
            font-weight: 500;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: 1px;

            &:last-child {
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              letter-spacing: 1px;
              margin-top: 22px;
            }
          }
        }
      }
    }
  }
}


.footer {
  padding-top: 100px;

  .container {
    @include p0-120;
    @include max-width-1920;
    @include for-desktop-up{
      padding: 0 40px;
    }
    .row {
@include for-desktop-up{
  text-align: center;
}
      .logo {
        font-size: 42px;
        line-height: 42px;
        color: $col-blue-2;
        @include font-Jose;
      }
      .col-md-10{
        @include for-tablet-landscape-up{
          flex-direction: column;
        }
        .col-md-4 {
          span {
            font-size: 24px;
            line-height: 36px;
            color: $col-black-2;
          }

          .contact {
            @include font-Jose;
            margin-top: 90px;
            margin-bottom: 26px;
            padding-bottom: 2px;
            text-decoration: underline;
            text-decoration-color: $col-blue-2;
            font-size: 14px;
            line-height: 22px;
            color: $col-black-2;
            font-weight: 600;

            &:last-child {
              margin-top: 26px;
              margin-bottom: 0;
            }
          }

        }

        .col-md-2 {
          position: relative;

          ul {
            margin: 0;
            padding: 0;
            list-style: none;

            &:first-child {
              margin-bottom: 60px;
              @include for-tablet-landscape-up{
                margin-top: 40px;
              }
            }

            li {
              font-size: 12px;
              line-height: 20px;
              color: rgba($col-black-2, 0.75);
              margin-bottom: 20px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          span {
            font-size: 12px;
            line-height: 20px;
            color: rgba($col-black-2, 0.65);

          }
          i{
            position: absolute;
            top:-28px;
            right: 25%;
            font-size: 24px;
            width: 52px;
            height: 52px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color:$col-white;
            background: $col-blue-2;
            border-radius: 50%;
            cursor: pointer;
            @include for-tablet-landscape-up{
              right: 45%;
              margin-top: 20px;
            }

          }
        }
      }

    }
  }
}


// button cta

.cta {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: $col-white;
  padding: 18px 38px;
  background: linear-gradient(96.5deg, $col-blue-2 0%, #6EFBCD 100%);
  border-radius: 74px;
  border: transparent;
  width: fit-content;

  &.start {
    background: $col-white;
    color: $col-black-1;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    padding: 30px 48px;
  }
}