
.icon-logout:before { content: '\e800'; } /* '' */
.icon-wallet:before { content: '\e801'; } /* '' */
.icon-arrow---up:before { content: '\e802'; } /* '' */
.icon-arrow---down:before { content: '\e803'; } /* '' */
.icon-simple-icons_binance:before { content: '\e804'; } /* '' */
.icon-notification:before { content: '\e805'; } /* '' */
.icon-swap:before { content: '\e806'; } /* '' */
.icon-arrow---down-2:before { content: '\e807'; } /* '' */
.icon-setting:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-activity:before { content: '\e80a'; } /* '' */
.icon-arrow---up-2:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-bi_currency-bitcoin:before { content: '\e80d'; } /* '' */
.icon-profile:before { content: '\e80e'; } /* '' */
.icon-ph_currency-eth:before { content: '\e80f'; } /* '' */
