@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif; }

.menu {
  background: #F7F7F7; }
  .menu .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media (max-width: 1000px) {
      .menu .logo {
        display: flex;
        flex-direction: column; }
        .menu .logo img {
          margin-bottom: 36px; } }
    .menu .logo .contactdetails {
      display: flex;
      align-items: center; }
      .menu .logo .contactdetails-item {
        display: flex;
        align-items: center;
        margin-right: 48px; }
        @media (max-width: 768px) {
          .menu .logo .contactdetails-item {
            display: flex;
            flex-direction: column;
            text-align: center; } }
        .menu .logo .contactdetails-item:last-child {
          margin-right: 0; }
        .menu .logo .contactdetails-item i {
          margin-right: 20px;
          font-size: 26px;
          color: #CF1F29;
          cursor: pointer; }
          @media (max-width: 768px) {
            .menu .logo .contactdetails-item i {
              margin-left: 10px;
              margin-bottom: 12px; } }
        .menu .logo .contactdetails-item div {
          display: flex;
          flex-direction: column; }
          .menu .logo .contactdetails-item div span:first-child {
            font-weight: bold; }
  .menu-body {
    background: rgba(207, 31, 41, 0.85); }
    .menu-body .d-flex i {
      margin-right: 24px;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer; }
      .menu-body .d-flex i:last-child {
        margin-right: 0; }
    .menu-body .nav-link {
      color: #ffffff !important;
      margin-right: 24px; }
      .menu-body .nav-link.active {
        opacity: 0.85; }

.hero.despre {
  background: #F7F7F7; }
.hero.produse {
  background: #F7F7F7; }
.hero-image img {
  opacity: 0.85;
  content: "";
  width: 100%;
  height: 1100px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }
  @media (max-width: 768px) {
    .hero-image img {
      height: 1440px; } }
.hero .hero-body {
  display: flex;
  align-items: center;
  color: #ffffff; }
  .hero .hero-body.despre {
    justify-content: space-between;
    color: #000000; }
    @media (max-width: 1150px) {
      .hero .hero-body.despre {
        display: flex;
        flex-direction: column;
        text-align: center; } }
    .hero .hero-body.despre img {
      width: 450px;
      height: 450px;
      border-radius: 50%; }
      @media (max-width: 1150px) {
        .hero .hero-body.despre img {
          margin-bottom: 60px; } }
    .hero .hero-body.despre h2 {
      margin-bottom: 24px; }
    .hero .hero-body.despre p {
      margin-top: 24px;
      margin-bottom: 24px; }
  .hero .hero-body.produse {
    color: #000000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .hero .hero-body.produse span {
      color: #000000;
      margin-top: 24px;
      font-weight: 500;
      font-size: 26px; }
  .hero .hero-body-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .hero .hero-body-content {
        flex-direction: column; } }
    .hero .hero-body-content-item {
      width: 50%; }
      @media (max-width: 768px) {
        .hero .hero-body-content-item:first-child {
          text-align: center;
          margin-bottom: 60px; } }
      .hero .hero-body-content-item:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        color: #000000;
        border-radius: 8px;
        padding-top: 24px;
        padding-bottom: 48px; }
        @media (max-width: 1000px) {
          .hero .hero-body-content-item:last-child {
            width: 100%;
            margin-left: 60px; } }
        @media (max-width: 768px) {
          .hero .hero-body-content-item:last-child {
            margin-left: 0; } }
        .hero .hero-body-content-item:last-child form {
          display: flex;
          flex-direction: column; }
          .hero .hero-body-content-item:last-child form h1 {
            text-align: center;
            font-size: 28px; }
          .hero .hero-body-content-item:last-child form span {
            margin-bottom: 24px; }
          .hero .hero-body-content-item:last-child form label {
            margin-bottom: 12px;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer; }
          .hero .hero-body-content-item:last-child form input {
            text-indent: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
            background: #F7F7F7;
            border: 1px solid #F7F7F7;
            border-radius: 8px;
            margin-bottom: 24px; }

.services {
  background: #F7F7F7; }
  .services .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px; }
    .services .title span {
      margin-bottom: 12px;
      color: #CF1F29;
      font-weight: 600; }
  .services-body {
    display: flex;
    flex-direction: column; }
    .services-body-content {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media (max-width: 525px) {
        .services-body-content {
          flex-direction: column; } }
      .services-body-content:first-child {
        margin-bottom: 60px; }
      .services-body-content .item {
        border-radius: 8px;
        background: #ffffff;
        padding: 24px; }
        @media (max-width: 525px) {
          .services-body-content .item {
            margin-right: 0 !important;
            margin-bottom: 24px; } }
        @media (max-width: 1150px) {
          .services-body-content .item {
            margin-right: 24px; } }

.call {
  background: rgba(207, 31, 41, 0.9); }
  .call-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff; }
    .call-body h1 {
      margin-bottom: 24px; }
    .call-body h2 {
      margin-bottom: 24px; }

.plan {
  background: #F7F7F7; }
  @media (max-width: 475px) {
    .plan {
      padding-left: 30px; } }
  .plan-body-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px; }
    .plan-body-content-item div {
      font-size: 40px;
      font-weight: 600; }
    .plan-body-content-item:first-child {
      border-radius: 8px;
      margin-right: 40px; }
    .plan-body-content-item:last-child {
      margin-left: 40px; }

.price .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px; }
  .price .title span {
    margin-bottom: 12px;
    color: #CF1F29;
    font-weight: 600; }
.price-body {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1150px) {
    .price-body {
      display: flex;
      flex-direction: column; } }
  .price-body-item {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    padding: 60px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    cursor: pointer; }
    @media (max-width: 1150px) {
      .price-body-item {
        margin-bottom: 60px; } }
    .price-body-item:hover {
      transform: scale(1.1);
      transition: all 0.5s ease-in-out; }
    .price-body-item.active {
      background: #CF1F29;
      color: #ffffff; }
    .price-body-item .cost {
      display: flex;
      flex-direction: column;
      padding-bottom: 24px;
      border-bottom: 1px solid #F7F7F7;
      padding-left: 60px;
      padding-right: 60px;
      text-align: center; }
      .price-body-item .cost span:first-child {
        font-weight: bold;
        font-size: 40px; }
      .price-body-item .cost span:last-child {
        font-size: 26px; }
    .price-body-item .details {
      margin-top: 30px;
      display: flex;
      align-items: center;
      margin-bottom: 24px; }
      .price-body-item .details span {
        flex: 1; }

.process .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 90px; }
  .process .title span {
    margin-bottom: 12px;
    color: #CF1F29;
    font-weight: 600; }
.process-body {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1150px) {
    .process-body {
      display: flex;
      flex-direction: column;
      text-align: center; } }
  .process-body-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 44px; }
    @media (max-width: 1150px) {
      .process-body-item {
        margin-bottom: 60px;
        margin-right: 0; } }
    .process-body-item:last-child {
      margin-right: 0; }
    .process-body-item span:first-child {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 24px; }

.team {
  background: #F7F7F7; }
  .team .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 90px; }
    .team .title span {
      margin-bottom: 12px;
      color: #CF1F29;
      font-weight: 600; }
  .team-body {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1150px) {
      .team-body {
        display: flex;
        flex-direction: column;
        text-align: center; } }
    .team-body-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      @media (max-width: 1150px) {
        .team-body-item {
          margin-bottom: 60px; } }
      .team-body-item img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-bottom: 24px; }
      .team-body-item span {
        font-size: 20px; }
      .team-body-item .social {
        margin-top: 24px; }
        .team-body-item .social i {
          margin-right: 16px;
          cursor: pointer;
          color: rgba(0, 0, 0, 0.75);
          font-size: 20px; }
          .team-body-item .social i:last-child {
            margin-right: 0; }

.article .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
  text-align: center; }
  .article .title span {
    margin-bottom: 12px;
    color: #CF1F29;
    font-weight: 600; }
.article-body {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1000px) {
    .article-body {
      flex-direction: column; } }
  .article-body-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .article-body-item img {
      width: 240px;
      height: 240px;
      margin-bottom: 24px;
      cursor: pointer; }
    .article-body-item span {
      font-weight: 500;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.75); }

.location {
  background: #F7F7F7; }

.footer {
  background: #F7F7F7; }
  .footer-body {
    display: flex;
    align-items: center; }
    .footer-body-content {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 1000px) {
        .footer-body-content {
          flex-direction: column;
          justify-content: center;
          display: flex;
          align-items: center; } }
      .footer-body-content-item {
        display: flex;
        flex-direction: column; }
        @media (max-width: 1000px) {
          .footer-body-content-item {
            margin-bottom: 48px; } }
        .footer-body-content-item img {
          margin-bottom: 26px; }
        .footer-body-content-item span {
          font-weight: 500;
          letter-spacing: 1px;
          margin-bottom: 24px; }
          @media (max-width: 1000px) {
            .footer-body-content-item span {
              text-align: center; } }
        .footer-body-content-item .social {
          display: flex;
          align-items: center;
          margin-top: 26px; }
          @media (max-width: 1000px) {
            .footer-body-content-item .social {
              justify-content: center; } }
          .footer-body-content-item .social i {
            color: #CF1F29;
            margin-right: 24px;
            font-size: 20px;
            cursor: pointer; }
            .footer-body-content-item .social i:last-child {
              margin-right: 0; }
        .footer-body-content-item .pages {
          display: flex;
          flex-direction: column; }
          .footer-body-content-item .pages span {
            cursor: pointer; }
        .footer-body-content-item h3 {
          margin-bottom: 30px;
          margin-top: 10px; }
          @media (max-width: 1000px) {
            .footer-body-content-item h3 {
              text-align: center; } }
        .footer-body-content-item .contact-item {
          margin-bottom: 24px; }
          .footer-body-content-item .contact-item i {
            font-size: 20px;
            color: #CF1F29;
            margin-right: 20px;
            cursor: pointer; }
        .footer-body-content-item input {
          padding-top: 10px;
          padding-bottom: 10px;
          text-indent: 20px;
          border-radius: 8px;
          background: #ffffff;
          border: 1px solid #000000; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }
  @media (max-width: 1000px) {
    .container-fluid {
      padding-left: 36px; } }
  @media (max-width: 768px) {
    .container-fluid {
      padding-left: 22px; } }
  @media (max-width: 475px) {
    .container-fluid {
      padding-left: 0; } }
  @media (max-width: 525px) {
    .container-fluid {
      padding-left: 0; } }

.cta {
  background: #CF1F29;
  color: #ffffff;
  margin-top: 24px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #CF1F29; }
  .cta.call {
    padding: 12px 32px;
    border-radius: 32px;
    color: #000000;
    background: #ffffff; }
    .cta.call.despre {
      color: #ffffff;
      background: #CF1F29; }
  .cta.active {
    background: #ffffff;
    color: #CF1F29; }

.pt-120 {
  padding-top: 120px; }

.pb-120 {
  padding-bottom: 120px; }

/*# sourceMappingURL=style.css.map */
