// import

@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap');

// variables

$col-brand: #CF1F29;
$col-grey-1: #F7F7F7;
$col-white: #ffffff;
$col-black: #000000;

// content

body {
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
}


.menu {
  background: $col-grey-1;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

    .contactdetails {
      display: flex;
      align-items: center;

      &-item {
        display: flex;
        align-items: center;
        margin-right: 48px;

        &:last-child {
          margin-right: 0;
        }

        i {
          margin-right: 12px;
          font-size: 26px;
          color: $col-brand;
          cursor: pointer;
        }

        div {
          display: flex;
          flex-direction: column;

          span {
            &:first-child {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  &-body {
    background: rgba($col-brand, 0.85);

    .d-flex {
      i {
        margin-right: 24px;
        color: $col-white;
        font-size: 14px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .nav-link {
      color: $col-white !important;
      margin-right: 24px;

      &.active {
        opacity: 0.85;
      }
    }
  }
}

.hero {
  &-image {


    img {
      opacity: 0.85;
      content: "";
      width: 100%;
      height: 1055px;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }


  .hero-body {
    display: flex;
    align-items: center;
    color: $col-white;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 120px;
      padding-bottom: 120px;

      &-item {
        width: 50%;

        &:last-child {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $col-white;
          color: $col-black;
          border-radius: 8px;
          padding-top: 24px;
          padding-bottom: 48px;

          form {
            display: flex;
            flex-direction: column;

            h1 {
              text-align: center;
              font-size: 28px;
            }

            span {
              margin-bottom: 24px;
            }

            label {
              margin-bottom: 12px;
              font-weight: 500;
              font-size: 16px;
              cursor: pointer;
            }

            input {
              text-indent: 24px;
              padding-top: 12px;
              padding-bottom: 12px;
              background: $col-grey-1;
              border: 1px solid $col-grey-1;
              border-radius: 8px;
              margin-bottom: 24px;
            }


          }
        }
      }
    }

  }
}

.services {
  background: $col-grey-1;
  padding-top: 120px;
  padding-bottom: 120px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;

    span {
      margin-bottom: 12px;
      color: $col-brand;
      font-weight: 600;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        margin-bottom: 60px;
      }

      .item {
        border-radius: 8px;
        background: $col-white;
        padding: 24px;
      }
    }
  }
}

.call {
  padding-top: 120px;
  padding-bottom: 120px;
  background: rgba($col-brand, 0.90);

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $col-white;

    h1 {
      margin-bottom: 24px;
    }

    h2 {
      margin-bottom: 24px;
    }
  }
}

.plan {
  padding-top: 120px;
  padding-bottom: 120px;

  &-body {
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;

      &-item {
        div {
          font-size: 40px;
          font-weight: 600;
        }

        &:first-child {
          border-radius: 8px;
          margin-right: 40px;
        }

        &:last-child {
          margin-left: 40px;
        }


      }

    }
  }
}

.price {
  padding-top: 60px;
  padding-bottom: 120px;
  background: $col-grey-1;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;

    span {
      margin-bottom: 12px;
      color: $col-brand;
      font-weight: 600;
    }
  }

  &-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      display: flex;
      flex-direction: column;
      background: $col-white;
      padding:60px;
      border-radius: 8px;
      transition:all 0.5s ease-in-out;
      cursor: pointer;
      &:hover{
        transform: scale(1.1);
        transition:all 0.5s ease-in-out;
      }
      &.active{
        background: $col-brand;
        color:$col-white;
      }
      .cost {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        border-bottom:1px solid $col-grey-1;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
        span{
          &:first-child{
            font-weight: bold;
            font-size: 40px;
          }
          &:last-child{
            font-size: 26px;
          }
        }
      }
      .details{
        margin-top: 30px;
        display: flex;
        align-items: center;
        span{
          flex:1;
        }
      }
    }
  }
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}


// cta


.cta {
  background: $col-brand;
  color: $col-white;
  margin-top: 24px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid $col-brand;

  &.call {
    padding: 12px 32px;
    border-radius: 32px;
    color: $col-black;
    background: $col-white;
  }
}
