// import

@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap');

// variables

$col-brand: #CF1F29;
$col-grey-1: #F7F7F7;
$col-white: #ffffff;
$col-black: #000000;

// mixins

@mixin for-mini-phone-only {
  @media (max-width: 475px) {
    @content;
  }
}


@mixin for-phone-only {
  @media (max-width: 525px) {
    @content;
  }
}


@mixin for-tablet-portrait-up {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (max-width: 1150px) {
    @content;
  }
}


// content

.pt-120{
  padding-top: 120px;
}
.pb-120{
  padding-bottom: 120px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
}


.menu {
  background: $col-grey-1;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: column;
      img {
        margin-bottom: 36px;
      }
    }

    .contactdetails {
      display: flex;
      align-items: center;

      &-item {
        display: flex;
        align-items: center;
        margin-right: 48px;
        @include for-tablet-portrait-up {
          display: flex;
          flex-direction: column;
          text-align: center;
        }

        &:last-child {
          margin-right: 0;
        }

        i {
          margin-right: 12px;
          font-size: 26px;
          color: $col-brand;
          cursor: pointer;
          @include for-tablet-portrait-up {
            margin-left: 10px;
            margin-bottom: 12px;
          }
        }

        div {
          display: flex;
          flex-direction: column;

          span {
            &:first-child {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  &-body {
    background: rgba($col-brand, 0.85);

    .d-flex {
      i {
        margin-right: 24px;
        color: $col-white;
        font-size: 14px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .nav-link {
      color: $col-white !important;
      margin-right: 24px;

      &.active {
        opacity: 0.85;
      }
    }
  }
}

.hero {
  &.despre{
    background: $col-grey-1;
  }
  &-image {


    img {
      opacity: 0.85;
      content: "";
      width: 100%;
      height: 1100px;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      @include for-tablet-portrait-up {
        height: 1440px;
      }
    }
  }


  .hero-body {
    display: flex;
    align-items: center;
    color: $col-white;
      &.despre{
        justify-content: space-between;
        color:$col-black;
        img{
            width: 450px;
            height: 450px;
            border-radius: 50%;
          }
        h2{
          margin-bottom: 24px;
        }
        p{
          margin-top: 24px;
          margin-bottom: 24px;
        }
      }
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include for-tablet-portrait-up {
        flex-direction: column;
      }

      &-item {
        width: 50%;
        &:first-child {
          @include for-tablet-portrait-up {
            text-align: center;
            margin-bottom: 60px;
          }
        }

        &:last-child {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $col-white;
          color: $col-black;
          border-radius: 8px;
          padding-top: 24px;
          padding-bottom: 48px;
          @include for-tablet-landscape-up {
            width: 100%;
            margin-left: 60px;
          }
          @include for-tablet-portrait-up {
            margin-left: 0;
          }

          form {
            display: flex;
            flex-direction: column;

            h1 {
              text-align: center;
              font-size: 28px;
            }

            span {
              margin-bottom: 24px;
            }

            label {
              margin-bottom: 12px;
              font-weight: 500;
              font-size: 16px;
              cursor: pointer;
            }

            input {
              text-indent: 24px;
              padding-top: 12px;
              padding-bottom: 12px;
              background: $col-grey-1;
              border: 1px solid $col-grey-1;
              border-radius: 8px;
              margin-bottom: 24px;
            }


          }
        }
      }
    }

  }
}

.services {
  background: $col-grey-1;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;

    span {
      margin-bottom: 12px;
      color: $col-brand;
      font-weight: 600;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include for-phone-only {
        flex-direction: column;
      }

      &:first-child {
        margin-bottom: 60px;
      }

      .item {
        border-radius: 8px;
        background: $col-white;
        padding: 24px;
        @include for-phone-only{
          margin-right: 0 !important;
          margin-bottom: 24px;
        }
        @include for-desktop-up {
          margin-right: 24px;
        }
      }
    }
  }
}

.call {
  background: rgba($col-brand, 0.90);

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $col-white;

    h1 {
      margin-bottom: 24px;
    }

    h2 {
      margin-bottom: 24px;
    }
  }
}

.plan {
  background: $col-grey-1;
@include for-mini-phone-only{
  padding-left: 30px;
}
  &-body {
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;

      &-item {
        div {
          font-size: 40px;
          font-weight: 600;
        }

        &:first-child {
          border-radius: 8px;
          margin-right: 40px;
        }

        &:last-child {
          margin-left: 40px;
        }


      }

    }
  }
}

.price {

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;

    span {
      margin-bottom: 12px;
      color: $col-brand;
      font-weight: 600;
    }
  }

  &-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-desktop-up {
      display: flex;
      flex-direction: column;
    }

    &-item {
      display: flex;
      flex-direction: column;
      background: $col-grey-1;
      padding: 60px;
      border-radius: 8px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      @include for-desktop-up {
        margin-bottom: 60px;
      }

      &:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
      }

      &.active {
        background: $col-brand;
        color: $col-white;
      }

      .cost {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        border-bottom: 1px solid $col-grey-1;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;

        span {
          &:first-child {
            font-weight: bold;
            font-size: 40px;
          }

          &:last-child {
            font-size: 26px;
          }
        }
      }

      .details {
        margin-top: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        span {
          flex: 1;
        }
      }
    }
  }
}

.process{

  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 90px;
    span{
      margin-bottom: 12px;
      color:$col-brand;
      font-weight: 600;
    }
  }
  &-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-right: 44px;
      &:last-child{
        margin-right: 0;
      }
      span{
        &:first-child{
          margin-bottom: 16px;
          font-weight: 600;
          font-size:24px;
        }
      }
    }
  }
}

.team{
  background: $col-grey-1;
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 90px;
    span{
      margin-bottom: 12px;
      color:$col-brand;
      font-weight: 600;
    }
  }
&-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
      height: 200px;
      width: 200px;
      border-radius: 50%;
      margin-bottom: 24px;
    }
    span{
      font-size: 20px;
    }
    .social{
      margin-top: 24px;
      i{
        margin-right: 16px;
        cursor: pointer;
        color:rgba($col-black,0.75);
        font-size: 20px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
}


.footer {
  background: $col-grey-1;

  &-body {
    display: flex;
    align-items: center;

    &-content {
      display: flex;
      justify-content: space-between;
      @include for-tablet-landscape-up {
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: center;
      }

      &-item {
        display: flex;
        flex-direction: column;
        @include for-tablet-landscape-up {
          margin-bottom: 48px;
        }

        img {
          margin-bottom: 26px;
        }

        span {
          font-weight: 500;
          letter-spacing: 1px;
          margin-bottom: 24px;
          @include for-tablet-landscape-up {
            text-align: center;
          }
        }

        .social {
          display: flex;
          align-items: center;
          margin-top: 26px;
          @include for-tablet-landscape-up {
            justify-content: center;
          }

          i {
            color: $col-brand;
            margin-right: 24px;
            font-size: 20px;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .pages {
          display: flex;
          flex-direction: column;

          span {
            cursor: pointer;
          }
        }

        h3 {
          margin-bottom: 30px;
          margin-top: 10px;
          @include for-tablet-landscape-up {
            text-align: center;
          }
        }

        .contact {
          &-item {
            margin-bottom: 24px;

            i {
              font-size: 20px;
              color: $col-brand;
              margin-right: 20px;
              cursor: pointer;
            }
          }
        }

        input {
          padding-top: 10px;
          padding-bottom: 10px;
          text-indent: 20px;
          border-radius: 8px;
          background: $col-white;
          border: 1px solid $col-black;
        }
      }

    }
  }
}



.container-fluid {
  padding-right: 0;
  padding-left: 0;
  @include for-tablet-landscape-up {
    padding-left: 36px;
  }
  @include for-tablet-portrait-up {
    padding-left: 22px;
  }
  @include for-mini-phone-only{
    padding-left: 0;
  }
}


// cta


.cta {
  background: $col-brand;
  color: $col-white;
  margin-top: 24px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid $col-brand;

  &.call {
    padding: 12px 32px;
    border-radius: 32px;
    color: $col-black;
    background: $col-white;
    &.despre{
      color:$col-white;
      background: $col-brand;
    }
  }

  &.active {
    background: $col-white;
    color: $col-brand;
  }
}
