// import font

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

// import partials

@import "partials/classes.scss";

@import "partials/general.scss";

@import "partials/variables.scss";

// mixin for responsive

@mixin for-desktop {
  @media (max-width: 990px) { @content; }
}
@mixin for-mini-desktop {
  @media (max-width: 948px) { @content; }
}


// general

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


.container {
  margin: 0 auto;
}

// cursor pointer

.pointer {
  cursor: pointer;
}

// css


.menu {
  @include for-desktop{
    display: flex;
    flex-direction: column;
  }
  .logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    @include for-desktop{
      margin-bottom: 20px;
    }
  }

  .search {
    @include for-desktop{
      margin-bottom: 20px;
    }
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $col-blue-1;
    }
  }

  .social {
    a {
      text-decoration: none;
      color: black;

      span {
        font-size: 16px;
        line-height: 19px;

        &.active {
          font-weight: bold;
        }
      }
    }

    i {
      font-size: 24px;
    }
  }
}

.hero {
  background: $col-grey-1;

  &-item {
    width: 50%;

    span {
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      color: $col-grey-2;

      &:first-child {
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
        color: black;
      }
      &:last-child{

      }
    }
    &.blog{
      @include for-desktop{
        margin:0 auto;
      }
    }
    &.creativity{
      @include for-desktop{
        display: none;
      }
    }
  }

}

.about {
  &-list {
    border-radius: 8px;

    &:first-child {
      border: 1px 0px 0px 1px solid rgba($col-grey-2, 0.2);
    }

    &-item {
      width: 50%;
      text-align: left;
      &.blog{
        @include for-desktop{
          margin:0 auto;
          span{
            padding-right: 0;
          }

        }
      }
      &.creativity{
        @include for-desktop{
          display: none;
        }
      }
      .title {
        padding-right: 120px;
      }

      .details {
        padding-left: 40px;
      }

      .info {
        width: inherit;
        padding-left: 80px;
        @include for-desktop{
          padding-left: 0;
        }
      }
    }
  }
}
.instructions{
  &-list{
    &-item{
      box-shadow: -1px 8px 11px -3px rgba(0,0,0,0.44);
      border-radius: 8px;
      @include for-desktop{
        margin-right: 18px;
        &:first-child{
          margin-left: 18px;
        }
      }
    }
  }
}
// generals for font, font size and line-height

.date {
  font-size: 12px;
  line-height: 15px;
  color: $col-blue-1;

}

.more {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $col-blue-2;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $col-blue-2;
  &.short{
    font-size: 20px;
    line-height: 24px;
  }
}

.details {
  font-size: 14px;
  line-height: 17px;
  color: $col-blue-1;
}
