// import font

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

// import partials

@import "partials/classes.scss";

@import "partials/general.scss";

@import "partials/variables.scss";

// mixin for responsive

@mixin for-desktop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin for-mini-desktop {
  @media (max-width: 1020px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin for-small-phone {
  @media (max-width: 335px) {
    @content;
  }
}


// general

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


.container {
  margin: 0 auto;
}

// cursor pointer

.pointer {
  cursor: pointer;
}

// css


.menu {
  @include for-desktop {
    display: flex;
    flex-direction: column;
  }

  .logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    @include for-desktop {
      margin-bottom: 20px;
    }
  }

  .search {
    @include for-desktop {
      margin-bottom: 20px;
    }

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $col-blue-1;
    }

  }

  .social {
    @include for-small-phone {
      padding-left: 40px;
    }

    a {
      text-decoration: none;
      color: black;

      span {
        font-size: 16px;
        line-height: 19px;

        &.active {
          font-weight: bold;
        }
      }
    }

    i {
      font-size: 24px;
      color: $col-grey-4;
    }
  }
}

.hero {
  background: $col-grey-1;

  &-item {
    width: 50%;

    span {
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      color: $col-grey-2;

      &:first-child {
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
        color: black;
      }

      &:last-child {

      }
    }

    &.blog {
      @include for-desktop {
        margin: 0 auto;
        text-align: center;
        img {
          display: none;
        }
      }
    }

    &.creativity {
      @include for-desktop {
        display: none;
      }
    }
  }

}

.about {
  &-list {
    border-radius: 8px;

    &:first-child {
      border: 1px 0px 0px 1px solid rgba($col-grey-2, 0.2);
    }

    &-item {
      width: 50%;
      text-align: left;
      @include for-mini-desktop {
        width: 100%;
      }
      @include for-phone {
        width: 100%;
      }

      &.blog {
        @include for-desktop {
          margin: 0 auto;
          span {
            padding-right: 0;
          }

        }
      }

      &.creativity {
        @include for-desktop {
          display: none;
        }
      }

      .title {
        padding-right: 120px;
      }

      .details {
        padding-left: 40px;
      }

      .info {
        width: inherit;
        padding-left: 80px;
        @include for-desktop {
          padding-left: 0;
          width: 100%;
        }

      }
    }
  }
}

.instructions {
  &-list {
    @include for-mini-desktop {
      display: flex;
      flex-direction: column;
    }

    &-item {
      box-shadow: -1px 8px 11px -3px rgba(0, 0, 0, 0.44);
      border-radius: 8px;
      @include for-desktop {
        margin-right: 36px;
        &:first-child {
          margin-left: 18px;
        }
      }
      @include for-mini-desktop {
        &:first-child {
          margin-left: 0px;
        }
        margin-bottom: 48px;
        margin-right: 0;
      }
    }
  }
}

.description {

  &-list {
    border-bottom: 2px solid $col-grey-3;
    @include for-mini-desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-item {
      width: 50%;
@include for-mini-desktop{
  img{
    display: none;
  }

}
      &:first-child {
        background: $col-blue-3;
      }

      .info {
        width: 31%;
        @include for-mini-desktop{
          width:65%;
        }
      }
      .item{
        button {
          width: fit-content;
          border-radius: 8px;
          border: 1px solid $col-purple;
          background: $col-purple;
          color: $col-white;

          span {
            line-height: 16px;
            font-weight: 700;
            font-size: 16px;
          }

          i {
            line-height: 16px;
          }
        }
        @include for-mini-desktop{
          padding-right: 0;
          justify-content: center;
        }
      }

    }
  }
}

.footer {
  @include for-mini-desktop {
    .networking {
      padding-right: 0;
    }
  }

  span {
    margin-left: 40px;

    h4 {
      margin: 0;
    }
  }

  i {
    font-size: 24px;
    color: $col-grey-4;
  }
}


// generals for font, font size and line-height

.date {
  font-size: 12px;
  line-height: 15px;
  color: $col-blue-1;

  &.lorem {
    font-size: 16px;
    line-height: 19px;
    color: $col-grey-2;
  }
}

.more {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $col-blue-2;

  &.lorem {
    color: $col-black;
    font-size: 16px;
    line-height: 19px;
    @include for-mini-desktop{
      text-align: center;
    }
  }
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $col-blue-2;

  &.lorem {
    color: $col-black;
    font-size: 40px;
    line-height: 48px;
    @include for-mini-desktop{
      text-align: center;
    }
  }

  &.short {
    font-size: 20px;
    line-height: 24px;
  }
}

.details {
  font-size: 14px;
  line-height: 17px;
  color: $col-blue-1;
  @include for-mini-desktop {
    padding-left: 0px !important;
  }
}
