@mixin font-poppins {
  font-family: 'Poppins', sans-serif;
}

@mixin font-sans {
  font-family: 'Open Sans', sans-serif;
}

@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
}


@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (max-width: 1800px) {
    @content;
  }
}